extends layouts/main-layout.pug

block content

    if errorMessage 
        span.errorMessage #{errorMessage}
    else 
        script.
            const chatId = '!{chat._id}';

        .chatPageContainer 
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal") Чат
            
            .mainContentContainer 
                .chatContainer
                    .chatMessages
                    .footer
                        textarea(name="messageInput", placeholder="Введите сообщение...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
    +creatChatNameModal(chat)
block scripts 
    script(src="/js/chat.js") 