extends layouts/login-layout.pug

block content  
    .loginContainer 
        h1 Войти 
        form(method="post")
            input(type="text", name="logUsername", placeholder="Введите имя или почту", required="")
            input(type="password", name="logPassword", placeholder="Введите пароль", required="")
            input(type="submit", value="Войти")
        a(href="/register") Зарегистрироваться
