extends layouts/main-layout.pug

block content 
    if !profileUser
        span.errorMessage Такого пользователя не существует или он не был найден. Пожалуйста укажите верный никнейм пользователя.
    else 
        .profileHeaderContainer     
            .coverPhotoContainer 

                .userImageContainer
                    img(src=profileUser.profilePic, alt="Фото пользователя")
            .profileButtonsContainer
                if profileUser._id = userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    +createFollowButton(profileUser, true)
                    
        .postsContainer

        +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/profile.js")