extends layouts/main-layout.pug

block content 
    if !profileUser
        span.errorMessage Такого пользователя не существует или он не был найден. Пожалуйста укажите верный никнейм пользователя.
    else 
        .profileHeaderContainer     
            .coverPhotoContainer 

                .userImageContainer 
                    img(src=profileUser.profilePic, alt="Фото пользователя")
        .postsContainer

        +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/profile.js") 