:root {
    --blue: #1fa2f1;
    --buttonHoverBg: #d4edff;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

nav a {
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a.blue {
    color: var(--blue)
}

nav a:hover {
    background-color: var(--buttonHoverBg);
    color: var(--blue);
    border-radius: 50%;

}

.mainSectionContainer {
    background-color: blue;
}